# ----------------------------------------------------------------------
# Adds some security for the Apache server configuration for use with
# https://github.com/kartik-v/yii2-app-practical-b template.
# ----------------------------------------------------------------------

# Disable directory browsing
<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

# Enable mod_rewrite
<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Force HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Handle requests to frontend without exposing /frontend/web
    RewriteCond %{REQUEST_URI} !^/(backend|frontend)/web/
    RewriteRule ^uploads/(.*)$ frontend/web/uploads/$1 [L]
    RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
    RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
    RewriteRule ^themes/(.*)$ frontend/web/themes/$1 [L]
    RewriteRule ^images/(.*)$ frontend/web/images/$1 [L]

    # Handle admin routes to backend
    RewriteCond %{REQUEST_URI} ^/admin
    RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
    RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
    RewriteRule ^admin/themes/(.*)$ backend/web/themes/$1 [L]
    RewriteRule ^admin/images/(.*)$ backend/web/images/$1 [L]
    RewriteRule ^admin/uploads/(.*)$ backend/web/uploads/$1 [L]
    RewriteRule ^admin/(.*)$ backend/web/$1 [L]

    # Redirect root requests to frontend/web/index.php
    RewriteCond %{REQUEST_URI} ^/$
    RewriteRule ^$ frontend/web/index.php [L]

    # Default routing to frontend index.php for other routes
    RewriteCond %{REQUEST_URI} !^/(backend|frontend)/web/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ frontend/web/index.php [L]
</IfModule>

# Block access to backup and source files
<FilesMatch "(\.(bak|bat|config|sql|fla|md|psd|ini|log|sh|inc|swp|dist)|~|init|composer\.json|composer\.lock)$">
  Order allow,deny
  Deny from all
  Satisfy All
</FilesMatch>

# Increase cookie security
<IfModule php5_module>
  php_value session.cookie_httponly true
</IfModule>

# PHP version handling
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php72 .php .php7 .phtml
</IfModule>

# cPanel PHP settings
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81 .php .php8 .phtml
</IfModule>
